ul.social
    li.social__item
      a.social__link.f-sz-0(href="https://www.instagram.com/" target="_blank")
        include ../../images/icon__instagram.svg
    li.social__item
      a.social__link.f-sz-0(href="https://www.whatsapp.com/" target="_blank")
        include ../../images/icon__whatsapp.svg
    li.social__item
      a.social__link.f-sz-0(href="https://www.vk.com/" target="_blank")
        include ../../images/icon__vk.svg

    li.social__item
      a.social__link.f-sz-0(href="https://www.youtube.com/" target="_blank")
        include ../../images/icon__youtube.svg

