include ../../mixins/mixins

section.section.hero#hero
  .container.hero__container
    h1.title Вывоз мусора в Уфе
      span.title__darken за 200 рублей
    p.hero__text Повторной переработке поддается 60-70% содержимого нашего мусорного ведра
    +btn('Оформить заказ')(class="btn-sm btn-warning hero__btn")




