include ../../mixins/mixins

section.section.how-work#how-work
  .container.how-work__container
    h2.heading.how-work__heading Как мы обрабатываем ?
    ul.how-work__list.row
      li.how-work__item.col-md-4.col-xl-auto.how-work__item--collect
        a.how-work__link(href="#")
          .how-work__box
            h3.how-work__subtitle Собираем
            +vector()
          p.how-work__text Распределяем весь собранный вами мусор по&nbsp;группам
      li.how-work__item.col-md-4.col-xl-auto.how-work__item--pick-up
        a.how-work__link(href="#")
          .how-work__box
            h3.how-work__subtitle Забираем
            +vector()
          p.how-work__text Увозим ваш мусор в&nbsp;сортировочный цех
      li.how-work__item.col-md-4.col-xl-auto.how-work__item--store
        a.how-work__link(href="#")
          .how-work__box
            h3.how-work__subtitle Храним
            +vector()
          p.how-work__text До&nbsp;сортировки весь мусор хранится на&nbsp;нашем складе
      li.how-work__item.col-md-4.col-xl-auto.how-work__item--sort
        a.how-work__link(href="#")
          .how-work__box
            h3.how-work__subtitle Сортируем
            +vector()
          p.how-work__text Финальный этап подготовки к&nbsp;переработке
      li.how-work__item.col-md-4.col-xl-auto.how-work__item--send
        a.how-work__link(href="#")
          .how-work__box
            h3.how-work__subtitle Отправляем
            +vector()
          p.how-work__text Все собранные вещи отправляются на&nbsp;переработку
