section.section.memo#memo
  .container.memo__container.row
    h2.heading.memo__heading.col-xl-3 Памятка для тех, кто хочет нам помочь
    ul.memo__list.row.col-xl-9
      li.memo__item.col-md-6.col-xl-4.mb-4
        | Мусор на&nbsp;переработку
        span.memo__text--bold  принимается в&nbsp;чистом виде
        |  (мойте)
      li.memo__item.col-md-6.col-xl-4.mb-4
        | Внимательно смотрите маркировку на&nbsp;упаковке. Если нет маркировки&nbsp;&mdash;
        span.memo__text--bold  не&nbsp;сдавать.
      li.memo__item.col-md-6.col-xl-4.mb-4
        span.memo__text--bold  Не&nbsp;принимается
        |  всё, что написано через дефис. Например: C/LDPE, C/PP
      li.memo__item.col-md-6.col-xl-4.mb-4
        | Все, что можно смять,
        span.memo__text--bold  смело мните
      li.memo__item.col-md-6.col-xl-4.mb-4
        | Так&nbsp;же
        span.memo__text--bold  отдельно
        | можете сдать провода, кабели, шнуры
      li.memo__item.col-md-6.col-xl-4.mb-4
        | Твердым пластиком считаеся всё, что
        span.memo__text--bold  твёрже пакета
      li.memo__item.col-md-6.col-xl-4.mb-4
        span.memo__text--bold  Сортируйте
        | по&nbsp;инструкции, по&nbsp;видам
      li.memo__item.col-md-6.col-xl-4.mb-4
        span.memo__text--bold  Не&nbsp;кладите
        | предметы друг в&nbsp;друга. Например: мешки в&nbsp;бутылку
      li.memo__item.col-md-6.col-xl-4.mb-4
        | 7&nbsp;вид пластика (только твердый)
        span.memo__text--bold  кладите отдельно
        |  (встречается редко)
      li.memo__item.col-md-6.col-xl-4.mb-4
        | Батарейки и&nbsp;аккумуляторы
        span.memo__text--bold  принимаем
      li.memo__item.col-md-6.col-xl-4.mb-4
        | Картоном считается всё, что
        span.memo__text--bold  плотнее
        |  листа&nbsp;А4
      li.memo__item.col-md-6.col-xl-4
        span.memo__text--bold  Мы&nbsp;забираем мусор
        | из&nbsp;вашей квартиры. Наш выезд стоит&nbsp;&mdash;
        span.memo__text--bold  100 рублей
        |  в&nbsp;черте города.

