$colorWhite: #fff;
$colorBlack: #000;
$colorPersianGreen: #02ac8f;
$colorPersianGreen20: rgba(2, 172, 143, 0.2);
$colorSeaGreen: #4df8aa;
$colorDarkCyan: #018b7e;
$colorBrilliantYellow: #ffe121;
$colorLuminousOrange: #ffa524;
$colorRed: #f00;
$colorWetAsphalt: #464646;
$colorGainsborough: #e5e5e5;
